<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0" >
  <display-name>Archetype Created Web Application</display-name>
   <servlet>
    <servlet-name>principale</servlet-name>
    <servlet-class>Livraison.controller.principale</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Depositaire_Controller</servlet-name>
    <servlet-class>Livraison.controller.Depositaire_Controller</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>livreur_Controller</servlet-name>
    <servlet-class>Livraison.controller.livreur_Controller</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Journaux_Controller</servlet-name>
    <servlet-class>Livraison.controller.Journaux_Controller</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Add_FacC</servlet-name>
    <servlet-class>Livraison.controller.Add_FacC</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>livreur_journaux_Controller</servlet-name>
    <servlet-class>Livraison.controller.livreur_journaux_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>principale</servlet-name>
    <url-pattern>/princ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Depositaire_Controller</servlet-name>
    <url-pattern>/Depositaire</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>livreur_Controller</servlet-name>
    <url-pattern>/livreur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>journaux_Controller</servlet-name>
    <url-pattern>/journaux</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>livreur_journaux_Controller</servlet-name>
    <url-pattern>/livreurjournaux</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Add_FacC</servlet-name>
    <url-pattern>/ajoutFact</url-pattern>
  </servlet-mapping>
  
</web-app>
